Package: pandora-net
Version: 0.75-1
Architecture: all
Maintainer: Michael Galyuk <robux@mail.ru>
Installed-Size: 3500
Build-Depends: debhelper (>= 7)
Depends:  ruby2.2 | ruby2.0 | ruby1.9.3 | ruby1.9.1 | ruby1.9 | ruby (>= 1.9), ruby-sqlite3, ruby-gtk2, ruby-gstreamer, openssl
Suggests: gstreamer0.10-x, gstreamer0.10-alsa | gstreamer0.10-pulse, gstreamer0.10-ffmpeg, gstreamer0.10-plugins-good, gstreamer0.10-plugins-bad, ruby-rubyzip2 | libzip-ruby1.9.1
Recommends: gstreamer0.10-x, gstreamer0.10-alsa | gstreamer0.10-pulse, gstreamer0.10-ffmpeg, gstreamer0.10-plugins-good, gstreamer0.10-plugins-bad, ruby-rubyzip2 | libzip-ruby1.9.1
Section: net
Priority: optional
Bugs: https://github.com/Novator/Pandora/issues
Homepage: https://github.com/Novator/Pandora
Description: P2P social network Pandora
 Pandora is a free peer-to-peer (P2P) social network application.
 It affords functions of instant messenger, audio and video chat, commercial
 system, distributed development system, file exchange and vote system.
 ---
 Pandora has its own binary protocol and uses cryptography and trust networks.
 Pandora is not yet another "geek thing". It is designed for ordinary people,
 has a graphical user interface (GUI) and works "out of the box".
 ---
 See user manual with pictures in wiki to quick start:
 https://github.com/Novator/Pandora/wiki/Install-and-first-run
