[Desktop Entry]
Version=1.0
Terminal=false
Exec=/opt/pandora/pandora.sh
Icon=/opt/pandora/view/pandora.ico
Type=Application
Categories=Network;
StartupNotify=true
Name=Pandora
Comment=Pandora is a p2p social network
