[Desktop Entry]
Version=1.0
Terminal=false
Exec=/opt/pandora/pandora.sh
Icon=/opt/pandora/view/pandora.ico
Type=Application
Categories=Network;
StartupNotify=true
Name=Pandora
GenericName=P2P social network Pandora
Comment=Video and voice chat, private and public record exchange
