<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Pandora</title>
  </head>
  <body>
    <div class="container">
      User: <a href="/command/Authorize"><%= @user %></a><br />
      <a href="/command/Listen">Listen</a><br />
      <a href="/command/Hunt">Hunt</a><br />
    </div>
  </body>
</html>
